[Unit]
Description=kor-elf-shield
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/kor-elf-shield start
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target